@import "tailwindcss";

@theme {
  --color-mainpurple: #8338ec;
  --color-hoverpurple: #b588f4;
  --color-mainyellow: #f7bc30;
  --color-mainorange: #fb5607;
  --color-mainpink: #ff66a8;
  --color-mainblue: #3a86ff;
  --color-maingray: #343a40;
  --color-maingreen: #08a508;
  --color-mainred: #fa4d4d;
}

@font-face {
  font-family: "firaGO";
  src: url("/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "firaGO";
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* border: 2px solid #8338ec; */
  background: white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: 15px;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  /* border: solid #8338ec; */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox input:checked + .checkmark::after {
  opacity: 1;
}
