@import "tailwindcss";

@theme {
  --color-mainpurple: #8338ec;
  --color-mainyellow: #f7bc30;
  --color-mainorange: #fb5607;
  --color-mainpink: #ff66a8;
  --color-mainblue: #3a86ff;
}

@font-face {
  font-family: "firaGO";
  src: url("/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "firaGO";
}

/* Hide the default checkbox */

.custom-checkbox input {
  display: none;
}

/* Custom checkbox box */
.custom-checkbox .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  background: white; /* White box */
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: 15px;
}

/* Checkmark (Black Tick) */
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid black; /* Black checkmark */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0; /* Hidden initially */
}

/* Show checkmark when checked */
.custom-checkbox input:checked + .checkmark::after {
  opacity: 1;
}
